body {
  background-image:
      linear-gradient(
      rgba(54, 69, 79, 0.50),
      rgba(54, 69, 79, 0.50)
    ),
    url('https://wallpaperaccess.com/full/1343405.jpg');
    display: flex;
    flex-direction: column;
}

header {
  font-family: sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

#outerContainer {
  margin: 10em auto 0;
  width: 50%;
  height: 40em;
  /*background color => rgba(220, 20, 60, 1) */
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgba(128, 0, 0, 1);
  padding: 4em;
}

#mainContainer {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 10px;
  display: grid;
  grid-gap: 0;
}

.gridCell {
  border: 1px solid black;
  margin-top: 0;
  margin-bottom: 0;
  bottom: 0;
  background: white;
}

.colorChange {
  background-color: blue;
}

#btn {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

button {
  background: rgba(54, 69, 79, 1);
  border-radius: 5px;
  color: white;
  padding: .5em;
  cursor: pointer;
}
